
/* body {
    background-color: #FAFAFA;
} */

/* Home page */

/* Navbar */
#navbarHome{
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman' ,sans-serif;
    background: url('../img/NavbarBgHome.png') no-repeat;
    padding-bottom: 90px;
}

#navbarHome nav div ul li, #navbarRate nav div ul li {
    padding-left: 50px;
    padding-top: 30px;
    
}


#navbarHome nav div ul li a, #navbarRate nav div ul li a{

    color: white !important;
    font-size: 20px;
}

#navbarHome nav div ul, #navbarRate nav div ul{

padding-right: 3%;
}


#navbarHome div nav .navbar-brand, #navbarRate div nav .navbar-brand  {
   
    padding-left: 60px;
    padding-top: 27px;
    font-weight: bold;
    font-size: 30px;
}

#navbarHome div nav .navbar-brand{
    padding-left: 60px;
  
    color: #727272;
}
#navbarRate div nav .navbar-brand{
    padding-left: 40px;
    color: white;
}

.fa-bars {
    color: white;
    font-size: 30px !important;
    margin-top: 28px;
   
}
.navbar-toggler {
    outline: none !important;
}
@media (max-width: 1600px){
    #navbarHome nav div ul{

        padding-right: 0px;
        }
}

@media (max-width: 1503px){

    #navbarHome nav div ul li, #navbarRate nav div ul li {
        padding-left: 30px;
     
    }

    #navbarHome nav div ul li a{

        font-size: 20px;
    }
}

@media (max-width: 1375px){

    #navbarHome nav div ul li {
        padding-left: 25px;
     
    }
   
}

@media (max-width: 1260px){

    #navbarHome nav div ul li a{

        font-size: 18px;
    }

    #navbarHome nav div ul li {
        padding-left: 20px;
     
    }
   
}


@media (max-width: 1130px){

    #navbarHome nav div ul li a{

        font-size: 15px;
    }

    #navbarHome nav div ul li {
        padding-left: 15px;
     
    }
   
}

@media (max-width: 991px){

    #navbarHome nav div ul li a{
        font-size: 17px;
       color: white !important;
    }

    #navbarHome nav div ul li,  #navbarRate nav div ul li {
        padding-left: 0px;
        padding-top: 12px;
   
        font-weight: bold;
     
    }

}


/* Header */

#headerHome {
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman' ,sans-serif;
    background: url('../img/HeaderBgHome.png') no-repeat ;
    background-position: right -20px top;

    background-size: 53% 100%;
    margin-top: -230px;
    padding-top: 200px;
}
.headerImgHome {
    padding-bottom: 30%;
    width: 70%;

}
.headerHome {
    padding-left: 11%;
    padding-top: 50px;
}
.headerHome p:nth-child(1){
    font-size: 50px;
    color: #727272;
    font-weight: bold;
    line-height: 65px;
    
}
.headerHome p:nth-child(3){
    font-size: 15px;
    color: #727272;
    padding-bottom: 15px;
    width: 80%;

    
}
.headerHome a{
    background-color: #FECD1B;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    
}

@media (max-width: 1300px){

    .headerHome {
    
        padding-top: 30px;
    }

    .headerHome p:nth-child(1){
        font-size: 40px;
        line-height: 55px;
        
    }

}

@media (min-width: 1434px){

    .headerHome p:nth-child(3){
  
        width: 60%;
    
        
    }

}

@media (max-width: 1160px){

    .headerHome {
    
        padding-top: 20px;
    }

    .headerHome p:nth-child(1){
        font-size: 35px;
        line-height: 42px;
        
    }

}

@media (max-width: 1000px){

    .headerHome {
    
        padding-top: 10px;
    }

    .headerHome p:nth-child(1){
        font-size: 28px;
        line-height: 32px;
        
    }

}
@media (max-width: 985px){

  
    #navbarHome div nav .navbar-brand {

        font-size: 25px;
    }

}




@media (max-width: 991px){

    #navbarHome{
        background: none;
        background-color: #2161BE;
    }

    #headerHome{
        text-align: center;
        background: none;
        background-color: #2161BE;
        padding-bottom: 35px;
 
    } 
    .headerHome {
        text-align: center;
    }
    .headerImgHome {
        display: none;
    }
   
    .headerHome p:nth-child(2){
      font-size: 25px;
      color: white;
      width: 60%;
      font-weight: bold;
      margin-left: 15%;
          
      }

      .headerHome p:nth-child(3){
        font-size: 18px;
        color: white;
        width: 100%;
        margin-left: -5% !important;
       
        }

        #navbarHome div nav .navbar-brand {
           
            padding-left: 0px;
            color: white;
            font-weight: bold;
            font-size: 25px;
        }

        .headerHome a{
         
            margin-right: 10%;
         }
}

@media (max-width: 419px){

    .headerHome p:nth-child(2){
        font-size: 20px !important;
        
        }

        .headerHome a{
    
            margin-right: 8%;
         }
    
}

/* Service */


#serviceHome{
    padding-top: 80px;
    padding-bottom: 100px;
   
    background: url('../img/ServiceBgRight.png') no-repeat, url('../img/ServiceBgLeft.png') no-repeat;
    background-position: left bottom, right 50%;
}

#serviceHome div p:nth-child(1){
    font-size: 18px;
    color: #FF4B57;
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman' ,sans-serif;
    font-weight: bold;
}

.services{
    font-size: 40px;
    color: #2568EF;
  font-family: sans-serif;
    font-weight: 900;
    margin-top: -21px;
    margin-bottom: 7%;
}

.serviceHome p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman' ,sans-serif;
    padding-top: 20px;
}

.serviceHome p:nth-child(3){
    
  color: #797975;
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman' ,sans-serif;
    padding-top: 4px;
    padding-bottom: 15px;
}

@media (max-width:1500px){

    #serviceHome{
 
        background-position: left -40px bottom, right -50px bottom;
    }

}

@media (max-width:1240px){

    #serviceHome{
 
        background-position: left -60px bottom, right -100px bottom;
    }

}

@media (max-width:991px){

    #serviceHome{
 
        background-position: left -60px bottom, right -100px top 60px;
    }

}

@media (max-width:767px){

    #serviceHome{
 
        background: none;
    }

    .services{
        font-size: 30px;
       
    }

}

/* Contact */

#contactHome{
    background: url('../img/ContactBg.png') no-repeat center ;
    padding-top: 200px;
    margin-bottom: 80px;
    background-position: top ;
    background-size: 110% 600px;
    padding-bottom: 100px;
}

.contactHome p , .contactHome a{
    color: white;

}

.contactHome p:nth-child(1){
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 900;

}

.contactHome p:nth-child(2){
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman' ,sans-serif;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
   
}
.contactHome a{
    background-color: #FED22B;
    padding: 15px 30px;
    border-radius: 30px;

    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

}
.fa-long-arrow-alt-right {
    padding-top: 12px;
    font-size: 30px;
}
@media (max-width: 767px){
    #contactHome{
        margin-top: -40px;
    }

    .contactHome p:nth-child(1){
        font-family: sans-serif;
        font-size: 40px;
        font-weight: 900;
    
    }
}

/* Time Zone */

#timeZoneHome {
    
    padding-bottom: 900px;
    background: url('../img/timeZoneHomeBg.png') no-repeat;
    background-position:  right 0px top ;

}

.sectionTitleHome{
    font-family: sans-serif;
    color: #2568EF;
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 5%;

}

.timeZoneHomeImg {
    width: 60%;
}

.timeZoneHome p {
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman' ,sans-serif;
    font-size: 20px;
    padding-top: 20%;
    width: 80%;
    color: #797975;
}

@media (max-width: 1445px){

 

    .timeZoneHomeImg {
        width: 70%;
    }
    

}

@media (max-width: 1135px){

    .timeZoneHome p {
      
        padding-top: 18%;
        font-size: 18px;
   
    }
    .timeZoneHomeImg {
        width: 75%;
    }

    #timeZoneHome {
        background-position:  right -80px top ;
    
    }
    

}

@media (max-width: 991px){

    .timeZoneHome p {
      
        width: 95%;
   
    }
    .timeZoneHomeImg {
        width: 80%;
    }

    .sectionTitleHome{
        padding-bottom: 40px;
    
    }

}

@media (max-width: 977px){

    #timeZoneHome {
        background-position:  right -130px top ;
    
    }
    
   
    }

    @media (max-width: 880px){

        #timeZoneHome {
            background-position:  right -170px top ;
        
        }
        
       
        }

@media (max-width: 823px){

    .timeZoneHome p {
        padding-top: 10%;
        width: 95%;
   
    }
    
   
    }
    

@media (max-width: 767px){
    
    .timeZoneHome div {
        text-align: center;
    }
    .timeZoneHome p {
        padding-top: 10%;
        width: 100%;
        text-align: center;
   
    }
    
    .timeZoneHomeImg {
        width: 60%;
    }

    .sectionTitleHome{
   
        font-size: 38px;
   
    
    }

    #timeZoneHome {
        background: none ;
    
    }
   
    }
    
    @media (max-width: 441px){
    
      #timeZoneHome{
          margin-top: -60px;
      }
    
        }

/* Adress */


#addressHome{
    margin-top: -1050px;
    background: url('../img/addressHomeBg.png') no-repeat;
    background-size: 8%;
    background-position:  left -20px 100px 20px ;
    padding-bottom: 400px;
}
.addressSectionTitle {
    font-family: sans-serif;
    color: #2568EF;
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 5%;
    padding-top: 280px;
}
.map div iframe{
    border-radius: 30px !important;
}

@media (max-width:767px ){

    #addressHome{
     
        background: none;
   
    }
    .addressSectionTitle {
   
        padding-top: 190px;
        font-size: 38px;
    }


}

/* Footer */


#footerHome {
    margin-top: -240px;
    background: url("../img/footerHomeBg.png") no-repeat;
    background-position: top ;
    background-size: 100% 700px;
    padding-bottom: 70px;
}

.footerHome {
    padding-top: 250px;
    color: white;
    margin-left: 7%;
}

.footerHomeSection1 p:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 30px;
}

.footerHomeSection1 {
    margin-top: -90px;
}
.footerHomeSection1 p:nth-child(2), .footerHomeSection1 p:nth-child(3) , .footerHomeSection1 p:nth-child(4), .footerHomeSection1  p:nth-child(5){
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman' ,sans-serif;
}
.footerHomeSection1 p:nth-child(3){
margin-top: -12px !important;
padding-bottom: 20px;
}
.footerHomeSection1 p:nth-child(4){
  
    padding-bottom: 15px;
}

 .footerHomeSection1 div img{
        margin-right: 10px;
        margin-bottom: 30px;
}

.footerHomeSection2 {

    padding-top: 40px;
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman' ,sans-serif;
    font-weight: bold;
  
}
.footerHomeSection2 a {
    color: white;
    text-decoration: none !important;
}

@media(max-width: 1050px){
    
.footerHome {
   
    margin-left: 3%;
}
}

@media(max-width: 824px){
    
    .footerHome {
       
        margin-left: 0%;
    }
    }

@media(max-width: 767px){
    
        #footerHome {
           
           background: none;
           background-color: #2365DF;
           text-align: center;
           margin-top: -320px;
           padding-bottom: 20px;
        }

        .footerHome{
            padding-top: 140px;
        }

      
}

/* rate page */

#navbarRate{
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman' ,sans-serif;
    padding-bottom: 900px;
    background: url('../img/ratePagebg.png') no-repeat;

    background-size: 100% 35%;

}

#navbarRate div p:nth-child(2), #navbarRate div p:nth-child(3) {
    color: white;
    text-align: center;
    line-height: 30px;
   
}

#navbarRate div p:nth-child(2){
    font-size: 40px;
    font-weight: bold;
    padding-top: 100px;

}
#navbarRate div p:nth-child(3) {
   font-size: 18px;

}

@media(max-width: 991px){
    #navbarRate{
    background: none;
    background-color: #2161BE;
    padding-bottom: 30px;
    }

    #navbarRate div p:nth-child(2){
     
        padding-top: 50px;
    
    }

    #navbarRate div nav .navbar-brand{
        padding-left: 0;
    }

}



/* Offer */


#offerRate {
    margin-top: -700px;
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman' ,sans-serif;
    background: url("../img/OfferRateBgRight.png") no-repeat , url("../img/OfferRateBgLeft.png") no-repeat;
    background-position:  left top, right bottom;
    padding-bottom: 100px;
}

.offerRate p:nth-child(1) {

    font-size: 30px;
    padding-bottom: 80px;
    font-weight: bold;
    color: #F96232;

}

.offerRate p:nth-child(1) span {

   
    color: #510CC1;

}

.card {
    /* border: none; */
    border-radius: 30px;
    margin-bottom: 30px;
}


.card-title {
    font-weight: bold;
    padding-top: 20px;
}

.card-body p:nth-child(2){
    color: #F96232;
    font-weight: 500;
 
}

.card-body {
    background: url('../img/OfferRateLine.png') no-repeat center center , url('../img/OfferRateLine2.png') no-repeat center center;
    background-position: 50% 25%, 50% 61% ;
    background-size: 95%;
}
.card-text {
    font-size: 50px;
    font-weight: bold;
    padding-top: 30px;
    margin-right: 7%;
}
.card-text sup{
    color: #F96232;
 
}

.card-body p:nth-child(4){
    background-color: #FF855E;
    color: white;
    font-size: 13px;
    width: 100px;
    border-radius: 20px;
    padding: 4px 0;
    margin-top: 20px !important;
  margin-bottom: 40px !important;
    margin: auto;
}

.offerElements {
    color: #F96232;
    font-weight: bold;
    padding-top: 10px;
}

.fa-check-circle {
    color: #510CC1;
    font-size: 18px;
    margin-right: 2%;
}

.offerRate a {
    background-color: #F96232;
    padding: 15px 20px 15px 24px;
    text-decoration: none;
    border-radius: 30px;
    color: white;
}

.arrowOfferRate {
    font-size: 48px;
    padding-top: 28px;
   padding-left: 1%;
}

@media (max-width: 1165px){

    #offerRate {
        background-position:  left -60px top , right -60px bottom;
        padding-bottom: 70px;
    }

    

}

@media (min-width: 992px){

    .offerRate .row {
        margin-bottom: 50px;
    }

    

}

@media (min-width: 768px){

    .offerRate .row {
        margin-bottom: 30px;
    }

    

}

@media (max-width: 991px){

    #offerRate {
        margin-top: 50px;
    }

    .offerRate p:nth-child(1) {

        padding-top: 20px;
        padding-bottom: 50px;
    
    }

    

}

@media (max-width: 767px){

    #offerRate {
       background: none;
    }



    

}